.sec1{
    padding: 100px;
}

.sec1 img {
    width: 100%;
}

.sec2{
    padding: 100px;
}

.sec2 img {
    width: 100%;
}
.sec2  .sec2-div1 {
    padding: 100px;
    
}
.sec3{
    background-repeat: no-repeat;
}

.sec3  .sec3-div1{
    padding: 100px;

}   
.sec4{
    padding: 100px;
}

.sec4 img {
    width: 100%;
}
.sec4  .sec4-div1 {
    padding: 100px;}

footer .container{
   background-color: white;
   padding: 50px;
}
.footer .container .dv3 a{
    text-decoration:none !important;
    border: ;
    font-size: 100px;
}

.sec5{
    padding: 100px;
    margin: 10px;
}

.sec5 img {
    width: 100%;
}
.sec5  .sec5-Div1 {
    padding: 100px;
  
}

.sec6{
    background-color: white;
    margin: 60px;
}

.sec6 .container{
    /* display: flex;
    justify-content:space-around; */
    padding: 45px;
    margin: 200px;
    height: 500px;
}

.sec6 .container .sec6-dv1{
    padding: 20px;
    margin: 20px;
}
.sec7{
    padding: 100px;
}

.sec7 img {
    width: 100%;
}
.sec7  .sec7-div1 {
    padding: 100px;}

.sec8 img{
        width: 700px;
        padding: 40px;
        margin: 30px;
    }
.sec8{
    background-color: white;
    margin: 30px;
    padding: 40px;
}

.sec8 .sec8-div1{
    padding: 5px;
    margin: 20px;
    text-align: center;
    background-color: rgb(248, 248, 248);
}


.sec8 .sec8-div2{
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: rgb(248, 248, 248);
}

.sec9{
    padding: 100px;
}

.sec9 img {
    width: 100%;
}
.sec9  .sec9-div1 {
    padding: 100px;
    
}


.sec10 img{
   margin: 5px;
   width: 600px;
}